{% extends 'layout.html' %}
{% block body %}

<header>
    <!--SECTION 1-->
    <div class="section-1" id="section-1">
        <div class="containerSection1 col-md-10">
            <h3 id="descubre">Buscamos la información meteorológica en la ciudad que elijas.
            </h3>
            <h5 id="conocambi">¡Conoce los cambios climáticos que se aproximan!</h5>
            <form action="/" method="POST" class="form-section-1 col-md-11">
                <div class="input-group ">
                    <input type="search" class="form-control rounded p-3 mt-3" name="city"
                        placeholder="Santa Marta..." aria-label="Search"
                        aria-describedby="search-addon" />
                    <button type="submit" name="submit_button_1" class="buttonSection1 p-3 mt-3" id="Busca">Buscar</button>
                </div>
            </form>
        </div>
        <div class="containerImgSection1 col-4">
            <div class="containerText">
                <img class="imgSection1" src="https://cdn.pixabay.com/photo/2014/12/20/18/28/city-574236_960_720.jpg"
                    alt="">
                <div class="textImg">
                    <h2>Miami</h2>
                    <h3>{{ temp_miami }}°C</h3>
                </div>
            </div>
            <div class="containerText">
                <img class="imgSection1"
                    src="https://cdn.pixabay.com/photo/2020/02/25/11/52/colombia-4878721_960_720.jpg" alt="">
                <div class="textImg">
                    <h2>Bogotá</h2>
                    <h3>{{ temp_bogota }}°C</h3>
                </div>
            </div>
            <div class="containerText">
                <img class="imgSection1" src="https://cdn.pixabay.com/photo/2015/10/06/18/26/eiffel-tower-975004_960_720.jpg"
                    alt="">
                <div class="textImg">
                    <h2>París</h2>
                    <h3>{{ temp_paris }}°C</h3>
                </div>
            </div>
            <div class="containerText">
                <img class="imgSection1" src="https://cdn.pixabay.com/photo/2019/04/20/11/39/japan-4141578_960_720.jpg"
                    alt="">
                <div class="textImg">
                    <h2>Tokyo</h2>
                    <h3>{{ temp_tokyo }}°C</h3>
                </div>
            </div>

        </div>
    </div>
</header>
<!--SECTION 2-->
<main class="section-2 col-md-11" id="section-2">
    <div class="row">
        <div class="containerSection2-left col-md-6">
            <h4>{{ city }}</h4>
            <div class="containerInformationSection2-today row">
                <!-- <h3 id=hoyx> Hoy</h3> -->
                <div class="informationSection2 col-3">
                    <img class="iconSection2" src="http://openweathermap.org/img/wn/{{ icon_city_today }}@2x.png"
                        alt="">

                    <h2>
                        {{  temp_city_today }}°C
                    </h2>
                    <h3 id="sensatermica">La sensación térmica actual es de</h3> <h3>{{feelslike_city_today}}°C </h3>
                    <h4>{{ main_city_today }}</h4>
                    <h5 id=humedad>Humedad:</h5> <h5>{{humidity_city_today}}%</h5>
                </div>
            </div>
            <div class="containerInformationSection2 row">
                <!-- <h3 id="mana">
                    Mañana
                </h3> -->
                <!-- <h3>{{ tomorrow }}</h3> -->
                {% for i in [0,1,2] %}
                <div class="informationSection2 col-md-3">
                    <img class="iconSection2" src="http://openweathermap.org/img/wn/{{ icon_city[i] }}@2x.png" alt="">
                    <h2>
                        {{ temp_city[i] }}°C
                    </h2>
                    <h4>{{ main_city[i] }}</h4>
                    <h5>{{ day_city[i] }}</h5>
                </div>
                {% endfor %}

            </div>
            <div class="containerInformationSection2 row">
                <!-- <h3 id=pasmana> Pasado mañana</h3>  -->
                <!-- <h3>{{ overmorrow }}</h3> -->
                
                {% for i in [3,4,5]%}
                <div class="informationSection2 col-md-3">
                    <img class="iconSection2" src="http://openweathermap.org/img/wn/{{ icon_city[i] }}@2x.png" alt="">

                    <h2>
                        {{ temp_city[i] }}°C
                    </h2>
                    <h4>{{ main_city[i] }}</h4>
                    <h5>{{ day_city[i] }}</h5>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="containerSection2-right col-md-5">
            <canvas id="myChart" width="400" height="400"></canvas>
            <canvas id="myChart2" width="400" height="400"></canvas>
            <script>
                var ctx2 = document.getElementById('myChart2').getContext('2d');
                const data2 = {
                    labels: ['Temperatura', 'Temperatura máxima', 'Sensación Térmica', 'Temperatura mínima', ],
                    datasets: [{
                        label: '{{today}}',
                        data: ['{{temp_city_today}}', '{{temp_max_city_today}}',
                            '{{feelslike_city_today}}', '{{temp_min_city_today}}'
                        ],
                        fill: true,
                        backgroundColor: 'rgb(245, 245, 245,0.1)',
                        borderColor: 'rgb(0, 180, 219)',
                        pointBackgroundColor: 'rgb(0, 180, 219)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(0, 180, 219)'
                    }, {
                        label: '{{tomorrow}}',
                        data: ['{{temp_city[1]}}', '{{temp_max_day[1]}}', '{{feels_like_day[1]}}',
                            '{{temp_min_day[1]}}'
                        ],
                        fill: true,
                        backgroundColor: 'rgb(245, 245, 245,0.1)',
                        borderColor: 'rgb(255, 0, 0)',
                        pointBackgroundColor: 'rgb(255, 0, 0)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(255, 140, 0 )'
                    }, {
                        label: '{{overmorrow}}',
                        data: ['{{temp_city[4]}}', '{{temp_max_day[4]}}', '{{feels_like_day[4]}}',
                            '{{temp_min_day[4]}}'
                        ],
                        fill: true,
                        backgroundColor: 'rgb(245, 245, 245,0.1)',
                        borderColor: 'rgb(65, 231, 36)',
                        pointBackgroundColor: 'rgb(65, 231, 36)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(65, 231, 36)',
                    }, {
                        label: '{{day3}}',
                        data: ['{{temp_city[7]}}', '{{temp_max_day[7]}}', '{{feels_like_day[7]}}',
                            '{{temp_min_day[7]}}'
                        ],
                        fill: true,
                        backgroundColor: 'rgb(245, 245, 245,0.1)',
                        borderColor: 'rgb(139, 0, 0)',
                        pointBackgroundColor: 'rgb(139, 0, 0)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(139, 0, 0)',
                    }, {
                        label: '{{day4}}',
                        data: ['{{temp_city[10]}}', '{{temp_max_day[10]}}', '{{feels_like_day[10]}}',
                            '{{temp_min_day[10]}}'
                        ],
                        fill: true,
                        backgroundColor: 'rgb(245, 245, 245,0.1)',
                        borderColor: 'rgb(255, 0, 255)',
                        pointBackgroundColor: 'rgb(255, 0, 255)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(255, 0, 255)',
                    }, {
                        label: '{{day5}}',
                        data: ['{{temp_city[13]}}', '{{temp_max_day[13]}}', '{{feels_like_day[13]}}',
                            '{{temp_min_day[13]}}'
                        ],
                        fill: true,
                        backgroundColor: 'rgb(245, 245, 245,0.1)',
                        borderColor: 'rgb(0, 0, 255)',
                        pointBackgroundColor: 'rgb(0, 0, 255)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(0, 0, 255)',
                    }],
                }

                var myChart2 = new Chart(ctx2, {
                    type: 'radar',
                    data: data2,

                    options: {
                        scale: {
                            min: 0,
                            ticks: {
                                stepSize: 5
                            }

                        },
                        elements: {
                            line: {
                                borderWidth: 3
                            }
                        }
                    },
                });
            </script>
            <script>
                var ctx1 = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx1, {
                    type: 'bar',
                    data: {
                        labels: ['{{tomorrow}}', '{{overmorrow}}', '{{day3}}', '{{day4}}', '{{day5}}'],
                        datasets: [{
                            label: 'Mañana',
                            data: ['{{temp_city[0]}}', '{{temp_city[3]}}', '{{temp_city[6]}}',
                                '{{temp_city[9]}}', '{{temp_city[12]}}'
                            ],
                            backgroundColor: [
                                'rgb(75, 192, 192)',
                                'rgb(75, 192, 192)',
                                'rgb(75, 192, 192)',
                                'rgb(75, 192, 192)',
                                'rgb(75, 192, 192)',
                                'rgb(75, 192, 192)',
                                'rgb(75, 192, 192)'
                            ],
                        }, {
                            label: 'Tarde',
                            data: ['{{temp_city[1]}}', '{{temp_city[4]}}', '{{temp_city[7]}}',
                                '{{temp_city[10]}}', '{{temp_city[13]}}'
                            ],
                            backgroundColor: [
                                'rgb(255, 205, 86)',
                                'rgb(255, 205, 86)',
                                'rgb(255, 205, 86)',
                                'rgb(255, 205, 86)',
                                'rgb(255, 205, 86)',
                                'rgb(255, 205, 86)',
                                'rgb(255, 205, 86)'
                            ],
                        }, {
                            label: 'Noche',
                            data: ['{{temp_city[2]}}', '{{temp_city[5]}}', '{{temp_city[8]}}',
                                '{{temp_city[11]}}', '{{temp_city[14]}}'
                            ],
                            backgroundColor: [
                                'rgb(201, 155, 207)',
                                'rgb(201, 155, 207)',
                                'rgb(201, 155, 207)',
                                'rgb(201, 155, 207)',
                                'rgb(201, 155, 207)',
                                'rgb(201, 155, 207)',
                                'rgb(201, 155, 207)'
                            ],
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                            },
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Fecha'
                                }
                            }]

                        },

                        responsive: true,
                    }
                });
            </script>
        </div>
    </div>
</main>
<!--SECTION 3-->
<section class="section-3 col-12">

    <h4 id="contaminacion">Contaminación del aire </h4> <p>{{ city }}</p>
    <h5>{{ today }}</h5>

    <table class="table tableContamination-1">
        <thead>
            <tr>
                <th scope="col" id=monocar>Monóxido de carbono <div class="lex">(CO)</div>
                </th>
                <th scope="col" id=mononitro>Monóxido de nitrógeno <div class="lex">(NO)</div>
                </th>
                <th scope="col" id=dionitro>Dióxido de nitrógeno <div class="lex">(NO2)</div>
                </th>
                <th scope="col" class="lex-1" id=concenozo>Сoncentración de ozono <div class="lex lex-1">(O3)</div>
                </th>
                <th scope="col" class="lex-1" id=dioazu>Dióxido de azufre <div class="lex lex-1">(SO2)</div>
                </th>
                <th scope="col" id=mateparti>Materia de partículas finas <div class="lex">(PM2.5)</div>
                </th>
                <th scope="col" id=partigru>Partículas gruesas <div class="lex ">(PM10)</div>
                </th>
                <th scope="col" class="lex-1" id=concenamo>Сoncentración de amoníaco <div class="lex lex-1">(NH3)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ co }} μg/m3</td>
                <td>{{ no }} μg/m3</td>
                <td>{{ no2 }} μg/m3</td>
                <td class="lex-1">{{ o3 }} μg/m3</td>
                <td class="lex-1">{{ so2 }} μg/m3</td>
                <td>{{ pm2_5 }} μg/m3</td>
                <td>{{ pm10 }} μg/m3</td>
                <td class="lex-1">{{ nh3 }} μg/m3</td>
            </tr>
        </tbody>
    </table>
    <div class="containerChartContamination row">
        <div class="col-md-5">
            <canvas id="myChart3"></canvas>
        </div>
        <div class="col-md-7 tableContamination-2">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="calidadText" id=calidair>Calidad de aire</th>
                        <th scope="col">NO2</th>
                        <th scope="col">PM10</th>
                        <th scope="col">O3</th>
                        <th scope="col">PM25</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" id=buen>Bueno</th>
                        <td>0-50</td>
                        <td>0-25</td>
                        <td>0-60</td>
                        <td>0-15</td>
                    </tr>
                    <tr>
                        <th scope="row" id=regu>Regular</th>
                        <td>50-100</td>
                        <td>25-50</td>
                        <td>60-120</td>
                        <td>15-30</td>
                    </tr>
                    <tr>
                        <th scope="row" id=mode>Moderado</th>
                        <td>100-200</td>
                        <td>50-90</td>
                        <td>120-80</td>
                        <td>30-55</td>
                    </tr>
                    <tr>
                        <th scope="row" id=malo>Malo</th>
                        <td>200-400</td>
                        <td>90-180</td>
                        <td>180-240</td>
                        <td>55-110</td>
                    </tr>
                    <tr>
                        <th scope="row" id=pesi>Pésimo</th>
                        <td>>400</td>
                        <td>>180</td>
                        <td>>240</td>
                        <td>>110</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var popCanvas = document.getElementById("popChart");


        const labels = ['NO', 'NO2', 'O3', 'SO2', 'PM25', 'PM10', 'NH3'];
        const data = {
            labels: [
                'NO', 'NO2', 'O3', 'SO2', 'PM25', 'PM10', 'NH3'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: ['{{ no }}', '{{ no2 }}', '{{ o3 }}', '{{ so2 }}', '{{ pm2_5 }}',
                    '{{ pm10 }}', '{{ nh3 }}'
                ],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(75, 192, 192)',
                    'rgb(255, 205, 86)',
                    'rgb(201, 203, 207)',
                    'rgb(54, 162, 235)',
                    'rgb(201, 155, 207)',
                    'rgb(10, 203, 255)'
                ]
            }]
        };

        var bubbleChart = new Chart(myChart3, {
            type: 'polarArea',
            data: data,
            options: {}
        });
    </script>
</section>

{% endblock %}