{% extends 'layout.html' %}
{% block body %}

<div class="text-center textWhite-B knowUs">

  <div class="container p-4">
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <h4 class="textWhite-B">Meteoro</h4>
            </p>
          </div>
        </div>
      </form>
    </section>

    <section class="mb-4">
      <p class="textWhite-B">
        Meteoro es un proyecto desarrollado por un grupo de estudiantes de la Universidad del Magdalena, el cual uno de
        sus objetivos principales es brindar información al usuario sobre la calidad climática y meteorológica de la
        ciudad que este desee.
      </p>
    </section>

    <section class="text-justify equipoDesarrollo">
      <h5 class="textWhite-B">Desarrolladores</h5>
      <div class="row">
        <div class="team col-lg-4 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase"><img title="Github" src="../static/img/github.png"></h6>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://github.com/sebastianflorez0701" class="textWhite-B">Florez De la Peña Sebastian</a>
            </li>
            <li>
              <a href="https://github.com/camflo" class="textWhite-B">Florez Calvo Camilo</a>
            </li>
            <li>
              <a href="https://github.com/CamiloD17" class="textWhite-B">Hernández Dodino Camilo</a>
            </li>
            <li>
              <a href="https://github.com/juliomr1" class="textWhite-B">Murillo Rodriguez Julio</a>
            </li>
          </ul>
        </div>
        <div class= "team col-lg-4 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase"><img title="Outlook" src="../static/img/outlook.png" /></h6>
          <ul class="list-unstyled mb-0">
            <li>
              <a class="textWhite-B">sebastianflorezda@unimagdalena.edu.co</a>
            </li>
            <li>
              <a class="textWhite-B">camiloflorezac@unimagdalena.edu.co</a>
            </li>
            <li>
              <a class="textWhite-B">camilohernandezad@unimagdalena.edu.co</a>
            </li>
            <li>
              <a class="textWhite-B">juliomurillomr@unimagdalena.edu.co</a>
            </li>
          </ul>
        </div>
        <div class="team col-lg-4 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase"><img title="Gmail" src="../static/img/googleplus.png" /></h6>
          <ul class="list-unstyled mb-0">
            <li>
              <a class="textWhite-B">
                sebastian69@gmail.com</a>
            </li>
            <li>
              <a class="textWhite-B">camiloflorez071299@gmail.com</a>
            </li>
            <li>
              <a class="textWhite-B">kdodino1999@gmail.com</a>
            </li>
            <li>
              <a class="textWhite-B">juliomurillo.rodriguez@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}