{% extends 'layout.html' %}
{% block body %}
<!--GRAFICAR CHART TIEMPO REAL-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<section class="section-4" id="section-4">
    <div class="container row">
       
        <div class="col-md-7 textSection4">
            <h3>Análisis de temperatura en cultivo hidropónico</h3>
            <p>Este proyecto busca desarrollar la producción de vegetales a través de un análisis diseñado con la capacidad de detectar los cambios de temperatura y humedad dentro y fuera del cultivo generando así un ambiente ideal a traves del uso de autorriego.</p>
        </div>
        <div class="col-md-5"><img class="imgSection4"
            src="../static/img/cultivo.jpg" alt=""></div>
    </div>

    <!--GRAFICAS EN TIEMPO REAL-->
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-6 pt-4 pb-4">
                <h5 class="text-center textMorado">Temperatura del cultivo</h5>
                <div class="card">
                    <div class="card-body">
                        <canvas id="numero1" width="500" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-4 pb-4">
                <h5 class="text-center textMorado">Humedad del cultivo</h5>
                <div class="card">
                    <div class="card-body">
                        <canvas id="numero2" width="500" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-6 pt-4 pb-4">
                <h5 class="text-center textMorado">Temperatura exterior</h5>
                <div class="card">
                    <div class="card-body">
                        <canvas id="numero3" width="500" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-4 pb-4">
                <h5 class="text-center textMorado">Humedad exterior</h5>
                <div class="card">
                    <div class="card-body">
                        <canvas id="numero4" width="500" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Numero 1 -->
    <script>
        Chart.defaults.global.responsive = true;
        Chart.defaults.global.legend.display = false;

        $(document).ready(function () {
            const config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Numero 1",
                        backgroundColor: "rgb(132,186,91,0.2)",
                        borderColor: "rgb(62,150,81,1)",
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: false,
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Grados'
                            }
                        }]
                    }
                }
            };

            const context = document.getElementById('numero1').getContext('2d');

            const lineChart = new Chart(context, config);

            const source = new EventSource("/datos_monitoreo");

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);

                if (config.data.labels.length == 10) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                }

                config.data.labels.push(data.fecha);
                config.data.datasets[0].data.push(data.temperatura);
                lineChart.update();
            }
        });
    </script>

    <!-- Numero 2 -->
    <script>
        $(document).ready(function () {
            const config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Numero 2",
                        backgroundColor: "rgb(211,94,96,0.2)",
                        borderColor: "rgb(204,37,41,1)",
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: false,
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'g/m3'
                            }
                        }]
                    }
                }
            };

            const context = document.getElementById('numero2').getContext('2d');

            const lineChart = new Chart(context, config);

            const source = new EventSource("/datos_monitoreo");

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);

                if (config.data.labels.length == 10) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                }

                config.data.labels.push(data.fecha);
                config.data.datasets[0].data.push(data.temperatura1);
                lineChart.update();
            }
        });
    </script>
      <!-- Numero 3-->
      <script>
        $(document).ready(function () {
            const config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Numero 3",
                        backgroundColor: "rgb(211,94,96,0.2)",
                        borderColor: "rgb(204,37,41,1)",
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: false,
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'g/m3'
                            }
                        }]
                    }
                }
            };

            const context = document.getElementById('numero3').getContext('2d');

            const lineChart = new Chart(context, config);

            const source = new EventSource("/datos_monitoreo");

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);

                if (config.data.labels.length == 10) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                }

                config.data.labels.push(data.fecha);
                config.data.datasets[0].data.push(data.humedad);
                lineChart.update();
            }
        });
    </script>
         <!-- Numero 3-->
         <script>
            $(document).ready(function () {
                const config = {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            label: "Numero 4",
                            backgroundColor: "rgb(211,94,96,0.2)",
                            borderColor: "rgb(204,37,41,1)",
                            data: [],
                            fill: false,
                        }],
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: false,
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'g/m3'
                                }
                            }]
                        }
                    }
                };
    
                const context = document.getElementById('numero4').getContext('2d');
    
                const lineChart = new Chart(context, config);
    
                const source = new EventSource("/datos_monitoreo");
    
                source.onmessage = function (event) {
                    const data = JSON.parse(event.data);
    
                    if (config.data.labels.length == 10) {
                        config.data.labels.shift();
                        config.data.datasets[0].data.shift();
                    }
    
                    config.data.labels.push(data.fecha);
                    config.data.datasets[0].data.push(data.humedad1);
                    lineChart.update();
                }
            });
        </script>
</section>
{% endblock %}