///////////MEDIAQUERIES///////////
@media (max-width: 767px) {
    nav {
        box-shadow: none;
        // background-color: $color-1;
        background-color: red;



        .container-fluid {
            color: $color-5;

            .navbar-toggler {

                .navbar-toggler-icon {
                    background-image: url(/img/menu.png);
                }
            }

            .navbar-brand {
                width: 50%;
                box-shadow: none;
                color: $color-5;

                img {
                    margin-left: 25px;
                }
            }

            .collapse {
                position: right;

                ul {
                    li {
                        .nav-link {
                            color: $color-5;
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }

    header {
        .section-1 {


            .containerSection1 {
                margin-top: 0;
                border: none;
                border-radius: 0;
                box-shadow: none;
            }
        }
    }

    .section-2 {
        width: 100%;
        padding: 0 0 0 10px;

        .containerSection2-left {
            margin: 0 auto 50px auto;
            width: 93%;
        }

        .containerSection2-right {
            margin: 0 auto 50px auto;
            width: 90%;
        }
    }
}

@media (max-width: 499px) {
    .section-1 {
        .containerImgSection1 {
            .containerText {
                display: inline-block;
                width: 40%;

                .textImg {
                    padding: 10px 20px 0 20px;
                    width: 100%;

                    .icon4Cities {
                        width: 100px;
                    }
                }

                .imgSection1 {
                    width: 100%;

                }
            }
        }
    }

    .section-2 {


        .containerSection2-left {

            padding: 20px 5px;
        }
    }
}