$color-0:rgb(255, 255, 255);
$color-1:#2193b0;
$color-2: #36c0ee;
$color-4:#0083B0;
$color-5:rgba(0, 0, 0, 0.97);

@mixin contenedores {
    background: #00B4DB;
    background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);
    background: linear-gradient(to bottom, #0083B0, #00B4DB);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.521);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.37);
    padding: 25px;
    border-radius: 9px;
    transition: box-shadow 1s;
}

@mixin fondoHover {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.212);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.685);
    padding: 25px;
    border-radius: 9px;

}

.row {
    width: 101.5%;
}

body {
    background-color: rgb(246, 246, 246);
}


nav {
    background-color: $color-4;
    -webkit-box-shadow: 0px 3px 9px -1px rgba(0, 0, 0, 0.493);
    box-shadow: 0px 3px 9px -1px rgba(0, 0, 0, 0.39);

    .container-fluid {
        padding: 0px 5%;


        .navbar-toggler {


            .navbar-toggler-icon {
                background-image: url(/img/menu.png);
            }
        }

        .navbar-brand {
            width: 100%;

            img {
                width: 50px;
                border-radius: 50%;
            }
        }

        .collapse {


            ul {
                margin: 0 0 0 5%;


                li {

                    .nav-link {
                        color: $color-0;
                        padding: 0 20px;

                        img {
                            width: 20px;
                        }

                    }

                    ul {
                        li {
                            a {
                                // background-color: red;
                                z-index: 200;
                            }
                        }
                    }

                }

            }
        }
    }
}

#google_translate_element {
    // display: none;
    background-color: red;
    text-align: center;
    color: transparent;
    width: 50%;
}


.section-1 {
    width: 100%;
    height: auto;

    .containerSection1 {
        margin: 50px auto 0 auto;
        color: $color-0;
        z-index: 50;
        @include contenedores();

        h3 {
            padding: 10px;
        }

        h5 {
            padding: 10px;
        }



        .form-section-1 {


            .input-group {
                border: none;

                .buttonSection1 {
                    background: #00B4DB;
                    background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);
                    background: linear-gradient(to bottom, #0083B0, #00B4DB);
                    color: $color-0;
                    width: 30%;
                    transition: background-color 1s, border 1s, box-shadow 1s;
                    border: none;
                    border-radius: 9px;

                    &:hover {
                        border: none;
                        -webkit-box-shadow: 3px 0px 2px 1px rgba(0, 0, 0, 0.25);
                        box-shadow: 3px 0px 2px 1px rgba(0, 0, 0, 0.25);
                    }
                }

            }
        }

        &:hover {
            @include fondoHover()
        }
    }

    .containerImgSection1 {
        margin: 50px auto;
        width: 100%;
        text-align: center;

        .containerText {
            display: inline-block;
            position: relative;
            cursor: pointer;

            &:hover {
                .textImg {
                    opacity: 1;
                    background-color: rgba(0, 0, 0, 0.466);
                }
            }

            .imgSection1 {
                position: relative;
                -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.521);
                box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.267);
                width: 250px;
                border-radius: 10px;
                opacity: 0.9;


            }

            .textImg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $color-0;
                opacity: 0.1;
                z-index: 10;
                width: 100%;
                height: 100%;
                border-radius: 9px;
                transition: background-color 1s, opacity 1s;
                padding: 15% 0 0 0;

                // display: flex;
                // justify-content: center;
                // align-items: center;
                h2 {
                    color: $color-0;
                }

                h3 {
                    color: $color-2;
                }
            }
        }


    }
}

main {
    margin: 0 auto;
    padding: 0px 0;
    border-radius: 9px;

    .containerSection2-left {
        margin: 0 auto;
        height: 100%;
        @include contenedores();
        // text-align: center;

        h4 {
            color: $color-0;
            margin-left: 3%;
        }

        h5 {
            color: $color-0;
            opacity: 0.6;
            margin-left: 3%;
        }



        .containerInformationSection2 {
            margin: 0 auto;
            padding: 10px;
            border-radius: 9px;

            .informationSection2 {
                background-color: $color-0;
                -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.521);
                box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.37);
                border-radius: 9px;
                transition: box-shadow 1s;
                padding: 30px 15px;
                text-align: center;
                width: 30%;
                margin: 5px;

                h3 {
                    color: $color-5;
                    font-size: 1.2rem;

                }

                h2 {
                    color: $color-4;
                }

                .iconSection2 {
                    width: 30px;
                }

                &:hover {
                    @include fondoHover();
                    padding: 30px 15px;
                }
            }
        }

        .detalles {
            margin: 30px 0 0 0;

            .detallesButton {
                // @include contenedores();
                background-color: transparent;
                color: $color-0;

                font-weight: 900;
                padding: 10px 25px;
                border-radius: 20px;
                border: none;

                -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.521);
                box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.37);
                transition: box-shadow 1s, background-color 1s, color 1s;

                &:hover {
                    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
                    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
                    background-color: $color-0;
                    color: $color-4;
                }
            }
        }

        &:hover {
            @include fondoHover()
        }
    }

    .containerSection2-right {
        margin: 0 auto;
        padding: 25px;
        height: 100%;
        background-color: $color-0;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.521);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.37);
        border-radius: 9px;
        transition: box-shadow 1s;

        h4 {
            color: $color-0;
        }

        &:hover {
            @include fondoHover()
        }
    }

    #myChart {
        margin: 0;
        border-radius: 9px;
        padding: 0 10px 10px 10px;
        width: auto;
        height: 20px;
        background-color: $color-0;
    }

}

.section-3 {
    margin: 30px auto 0 auto;
    background-color: $color-0;
    border-radius: 9px;
    color: $color-0;

    #map {
        height: 500px;
        width: 100%;
    }
}


///////////MEDIAQUERIES///////////
@media (max-width: 767px) {
    nav {
        box-shadow: none;
        background-color: $color-0;

        .container-fluid {
            color: $color-5;

            .navbar-brand {
                width: 50%;
                box-shadow: none;
                color: $color-5;

                img {
                    margin-left: 25px;
                }
            }

            .collapse {
                position: right;

                ul {
                    li {
                        .nav-link {
                            color: $color-5;
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }

    header {
        .section-1 {


            .containerSection1 {
                margin-top: 0;
                border: none;
                border-radius: 0;
                box-shadow: none;
            }
        }
    }

    .section-2 {
        width: 100%;
        padding: 0 0 0 10px;

        .containerSection2-left {
            margin: 0 auto 50px auto;
            width: 93%;
        }

        .containerSection2-right {
            margin: 0 auto 50px auto;
            width: 90%;
        }
    }
}

@media (max-width: 499px) {
    .section-1 {
        .containerImgSection1 {

            .containerText {
                display: inline-block;
                width: 40%;

                .textImg {
                    padding: 10px 20px 0 20px;
                    width: 100%;
                }

                .imgSection1 {
                    width: 100%;

                }
            }
        }
    }

    .section-2 {
        .containerSection2-left {
            padding: 20px 5px;
        }
    }
}