$color-0:rgb(255, 255, 255);
$color-1:#2193b0;
$color-2: #3621b0d8;
$color-4:#0083B0;
$color-5:rgba(0, 0, 0, 0.97);

@mixin contenedores {
    background: #00B4DB;
    background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);
    background: linear-gradient(to bottom, #0083B0, #00B4DB);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.521);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.37);
    padding: 25px;
    border-radius: 9px;
    transition: box-shadow 1s;
}

@mixin fondoHover {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.212);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.685);
    padding: 25px;
    border-radius: 9px;

}

.row {
    width: 100%;
}

body {
    background-color: rgb(246, 246, 246);
}


nav {
    background-color: $color-4;
    -webkit-box-shadow: 0px 3px 9px -1px rgba(0, 0, 0, 0.493);
    box-shadow: 0px 3px 9px -1px rgba(0, 0, 0, 0.39);

    .container-fluid {
        padding: 10px 5%;


        .navbar-toggler {


            .navbar-toggler-icon {
                background-image: url(/img/menu.png);
            }
        }

        .navbar-brand {
            color: $color-0;
        }

        .collapse {


            ul {
                margin: 0 0 0 5%;


                li {

                    .nav-link {
                        color: $color-0;
                        padding: 0 20px;

                    }

                }

            }
        }
    }
}

.section-1 {
    width: 100%;
    height: auto;

    .containerSection1 {
        margin: 50px auto 0 auto;
        color: $color-0;
        @include contenedores();

        h3 {
            padding: 10px;
        }

        h5 {
            padding: 10px;
        }

        .input-group {
            border: none;

            .buttonSection1 {
                background: #00B4DB;
                background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);
                background: linear-gradient(to bottom, #0083B0, #00B4DB);
                color: $color-0;
                width: 30%;
                transition: background-color 1s, border 1s, box-shadow 1s;
                border: none;
                border-radius: 9px;

                &:hover {
                    border: none;
                    -webkit-box-shadow: 3px 0px 2px 1px rgba(0, 0, 0, 0.25);
                    box-shadow: 3px 0px 2px 1px rgba(0, 0, 0, 0.25);
                }
            }

        }



        &:hover {
            @include fondoHover()
        }
    }

    .containerImgSection1 {
        margin: 50px auto;
        width: 100%;
        text-align: center;

        .containerText {
            display: inline-block;
            position: relative;
            cursor: pointer;

            &:hover {
                .textImg {
                    opacity: 1;
                    background-color: rgba(0, 0, 0, 0.466);
                }
            }

            .imgSection1 {
                position: relative;
                -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.521);
                box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.267);
                width: 250px;
                border-radius: 10px;
                opacity: 0.9;


            }


            .textImg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $color-0;
                opacity: 0.1;
                z-index: 10;
                // text-align: center;
                width: 100%;
                height: 100%;
                border-radius: 9px;
                transition: background-color 1s, opacity 1s;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }


    }
}

main {
    margin: 0 auto;
    padding: 0px 0;
    border-radius: 9px;

    .containerSection2-left {
        margin: 0 auto;
        max-height: 450px;
        @include contenedores();
        text-align: center;

        h1 {
            color: $color-0;
            font-size: 4rem;
        }

        h4 {
            color: $color-0;
        }

        .containerInformationSection2 {
            margin: 20px auto 0 auto;


            .informationSection2 {
                @include contenedores();
                border-radius: 8px;
                display: inline-block;
                padding: 20px;
                text-align: center;
                width: 30%;

                h3 {
                    color: $color-0;
                }

                h2 {
                    color: $color-0;
                }

                .iconSection2 {
                    width: 30px;
                }
            }
        }

        .detalles {
            margin: 30px 0 0 0;

            .detallesButton {
                @include contenedores();
                color: #fff;
                padding: 10px 20px;
                border-radius: 20px;
                border: none;
                transition: box-shadow 1s;

                &:hover {
                    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
                    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
                }
            }
        }

        &:hover {
            @include fondoHover()
        }
    }

    .containerSection2-right {
        margin: 0 auto;
        padding: 25px;
        max-height: 450px;
        background-color: $color-0;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.521);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.37);
        border-radius: 9px;
        transition: box-shadow 1s;

        h4 {
            color: $color-0;
        }

        &:hover {
            @include fondoHover()
        }
    }

    #myChart {
        margin: 0;
        border-radius: 9px;
        padding: 0 10px 10px 10px;
        width: 20px;
        height: 20px;
        background-color: $color-0;
    }

}

.section-3 {
    margin: 30px auto 0 auto;
    background-color: $color-0;
    border-radius: 9px;
    color: $color-0;
}